{% extends 'base.html' %}

{% block title %}
Batch listing for
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% for i in llist %}
            <div class="col-md-3" style="padding:10px;">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}