{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 class="mb-5">Question Listing Page</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                All Categories
            </a>
            <a href="#" class="list-group-item list-group-item-action">Category 1</a>
            <a href="#" class="list-group-item list-group-item-action">Category 2</a>
            <a href="#" class="list-group-item list-group-item-action">Category 3</a>
            <a href="#" class="list-group-item list-group-item-action">Category 4</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et fringilla nisl, ac molestie sapien.</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question 2</h5>
                        <p class="card-text">Vivamus ut eros a quam porttitor finibus. Donec eget metus feugiat, venenatis nunc ut, suscipit nulla.</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question 3</h5>
                        <p class="card-text">Nam euismod dignissim risus, quis lobortis turpis consectetur nec. In sit amet elit sed urna vehicula blandit.</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}