{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/login.css/">
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">
        <div class="login-form">
            <input id="id__login_username" type="text" placeholder="username"/>
            <input id="id__login_password" type="password" placeholder="password"/>
            <button id="id__login_btn">login</button>
            <p class="message">Not registered? <a href="/accounts/signup/">Create an account</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/authentication.js/?v=1"></script>
{% endblock %}